In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns',500)
sns.set()

# NFIRS Data

First, make sure that I import the dataset correctly and get the column dtypes correct so that data isn't lost (for id numbers with leading zeros for example)

In [176]:
nfirs_path = '../data/01_raw/NFIRS_2009_2016_Census_ARCBoundary.csv'
nfirs_top = pd.read_csv(nfirs_path,encoding='latin-1',nrows=20000)

In [177]:
nfirs_top.head()

,ZIP_new,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,Y,STATEFP,BLKGRPCE,ALAND,AWATER,INTPTLAT,INTPTLON,MATCHED_ADDRESS,Division,Region,Chapter
0,0,rcp2_id1797482,OK,14005,0007886,OS,19813 S HARRAH RD,0,NaN,NaN,NaN,7/24/2016 0:00:00,NaN,NaN,0,111,150000.0,75000.0,225000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,rcp2_id752671,CA,19110,0023187,ROSEMEAD,3700 N ROSEMEAD,0,NaN,NaN,NaN,1/28/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,rcp2_id752740,CA,19110,0047061,HAWTHORNE,13200 DOTY,0,NaN,NaN,NaN,2/26/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,rcp2_id752750,CA,19110,0051260,WHITTIER CNTY,8530 MORRILL,0,NaN,NaN,NaN,3/2/2012 0:00:00,NaN,NaN,0,111,5000.0,5000.0,10000,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,rcp2_id752761,CA,19110,0052582,AVALON,215 SUMNER,0,NaN,NaN,NaN,3/4/2012 0:00:00,NaN,NaN,0,113,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
cols_to_drop = ['zip5','lat','lon','fips','NAME','NAMELSAD']

# get column headers from csv file
cols = list(pd.read_csv(nfirs_path,nrows=1))

cols_to_use = [c for c in cols if c not in cols_to_drop]
col_dtypes = {'ZIP_new':str,'state':str,'fdid':str,'COUNTYFP':str,'TRACTCE':str,
              'GEOID':str,'MTFCC':str,'STATEFP':str,'BLKGRPCE':str,
             'Division':str,'Region':str,'Chapter':str}

In [179]:
nfirs = pd.read_csv(nfirs_path,
                          dtype = col_dtypes,
                          usecols = cols_to_use,
                          encoding='latin-1')

In [180]:
for col in col_dtypes.keys():
    nfirs[col] = nfirs[col].astype('category')

In [181]:
nfirs['inc_date'] = pd.to_datetime(nfirs['inc_date'], infer_datetime_format=True)

In [182]:
nfirs.dtypes

ZIP_new                  category
ID                         object
state                    category
fdid                     category
inc_no                     object
city                       object
street                     object
inc_date           datetime64[ns]
oth_inj                   float64
oth_death                 float64
exp_no                      int64
inc_type                    int64
prop_loss                 float64
cont_loss                 float64
tot_loss                    int64
detector                   object
det_type                   object
det_power                  object
det_operat                 object
det_effect                 object
det_fail                   object
aes_pres                   object
aes_type                   object
aes_oper                   object
no_spr_op                 float64
aes_fail                   object
COUNTYFP                 category
TRACTCE                  category
GEOID                    category
MTFCC                    category
FUNCSTAT                   object
Y                         float64
STATEFP                  category
BLKGRPCE                 category
ALAND                     float64
AWATER                    float64
INTPTLAT                  float64
INTPTLON                  float64
MATCHED_ADDRESS            object
Division                 category
Region                   category
Chapter                  category
dtype: object

# SVI Data

In [183]:
svi2016_path = '../data/01_raw/SVI2016_US.csv'
svi2016_top = pd.read_csv(svi2016_path,nrows=1000)

In [184]:
svi_col_dtypes = {'ST':str,'STCNTY':str,'FIPS':str}

In [185]:
svi2016 = pd.read_csv(svi2016_path,
                     index_col=0,
                     dtype = svi_col_dtypes)

In [186]:
svi2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72836 entries, 0 to 72835
Columns: 124 entries, ST to E_DAYPOP
dtypes: float64(117), object(7)
memory usage: 69.5+ MB

In [187]:
svi2016.head()

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,E_POV,M_POV,E_UNEMP,M_UNEMP,E_PCI,M_PCI,E_NOHSDP,M_NOHSDP,E_AGE65,M_AGE65,E_AGE17,M_AGE17,E_DISABL,M_DISABL,E_SNGPNT,M_SNGPNT,E_MINRTY,M_MINRTY,E_LIMENG,M_LIMENG,E_MUNIT,M_MUNIT,E_MOBILE,M_MOBILE,E_CROWD,M_CROWD,E_NOVEH,M_NOVEH,E_GROUPQ,M_GROUPQ,EP_POV,MP_POV,EP_UNEMP,MP_UNEMP,EP_PCI,MP_PCI,EP_NOHSDP,MP_NOHSDP,EP_AGE65,MP_AGE65,EP_AGE17,MP_AGE17,EP_DISABL,MP_DISABL,EP_SNGPNT,MP_SNGPNT,EP_MINRTY,MP_MINRTY,EP_LIMENG,MP_LIMENG,EP_MUNIT,MP_MUNIT,EP_MOBILE,MP_MOBILE,EP_CROWD,MP_CROWD,EP_NOVEH,MP_NOVEH,EP_GROUPQ,MP_GROUPQ,EPL_POV,EPL_UNEMP,EPL_PCI,EPL_NOHSDP,SPL_THEME1,RPL_THEME1,EPL_AGE65,EPL_AGE17,EPL_DISABL,EPL_SNGPNT,SPL_THEME2,RPL_THEME2,EPL_MINRTY,EPL_LIMENG,SPL_THEME3,RPL_THEME3,EPL_MUNIT,EPL_MOBILE,EPL_CROWD,EPL_NOVEH,EPL_GROUPQ,SPL_THEME4,RPL_THEME4,SPL_THEMES,RPL_THEMES,F_POV,F_UNEMP,F_PCI,F_NOHSDP,F_THEME1,F_AGE65,F_AGE17,F_DISABL,F_SNGPNT,F_THEME2,F_MINRTY,F_LIMENG,F_THEME3,F_MUNIT,F_MOBILE,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
FID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,01,ALABAMA,AL,01015,Calhoun,01015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.644448,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,-999.0,-999.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,15.6,0.0,15.6,0.0,44.0,0.0,15.6,0.0,11.0,0.0,15.6,0.0,11.0,0.0,11.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,11.0,-999.0,-999.0,335.0
1,01,ALABAMA,AL,01015,Calhoun,01015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.929908,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,-999.0,-999.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,15.6,0.0,15.6,0.0,44.0,0.0,15.6,0.0,11.0,0.0,15.6,0.0,11.0,0.0,11.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,11.0,-999.0,-999.0,0.0
2,01,ALABAMA,AL,01097,Mobile,01097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,-999.0,-999.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,15.6,0.0,15.6,0.0,44.0,0.0,15.6,0.0,11.0,0.0,15.6,0.0,11.0,0.0,11.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,11.0,-999.0,-999.0,0.0
3,01,ALABAMA,AL,01117,Shelby,01117980000,"Census Tract 9800, Shelby County, Alabama",13.634818,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,-999.0,-999.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,11.0,0.0,15.6,0.0,15.6,0.0,44.0,0.0,15.6,0.0,11.0,0.0,15.6,0.0,11.0,0.0,11.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,11.0,-999.0,-999.0,140.0
4,02,ALASKA,AK,02198,Prince of Wales-Hyder,02198000300,"Census Tract 3, Prince of Wales-Hyder Census A...",196.854533,0.0,9.0,62.0,24.0,0.0,9.0,0.0,9.0,0.0,9.0,-999.0,-999.0,0.0,9.0,0.0,9.0,0.0,9.0,0.0,9.0,0.0,12.7,0.0,12.7,0.0,36.0,0.0,12.7,0.0,9.0,0.0,12.7,0.0,9.0,0.0,9.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,-999.0,0.0,20.5,0.0,24.2,0.0,-999.0,-999.0,-999.0,0.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,0.0,9.0,-999.0,-999.0,12.0

# Fix GEOIDs
It seems that a lot of the GEOIDs are missing the leading 0. For now I'm just going to add a leading 0 if the GEOID length is 11.

In [188]:
def fix_geoid(geoid):
    if pd.isnull(geoid):
        return(geoid)
    if len(geoid) == 11:
        return('0' + geoid)
    return(geoid)

In [189]:
nfirs['GEOID'] = nfirs['GEOID'].apply(fix_geoid)

# Aggregate NFIRS Data

1. Add severe_fire column (severe fire = either fatality, injury, or fire damage in excess of $10,000)
2. Aggregate nfirs by county, svi by county, and merge
3. Aggregate nfirs by census tract, svi by census tract (which it's already at), and merge

In [191]:
nfirs['severe_fire'] = (nfirs['oth_death'] > 0) | (nfirs['oth_inj'] > 0) | (nfirs['tot_loss'] >= 10000)

In [196]:
nfirs['STCNTY'] = nfirs['GEOID'].str[:5]

In [206]:
# aggregate nfirs by county. Though about 1/8 of the geoids are NaN, so this will skip those values for now.
# Perhaps before finalizing this analysis we should try and add the missing geographic data, and at least 
# get the county and census tract for each location, that should be pretty straightforward.

nfirs_counties = pd.crosstab(nfirs['STCNTY'],nfirs['severe_fire'])

nfirs_counties.columns = ['non-severe_fires','severe_fires']

nfirs_counties['tot_fires'] = nfirs_counties.sum(axis=1)

In [211]:
nfirs_counties.head()

        non-severe_fires  severe_fires  tot_fires
STCNTY
01001                127            75        202
01003                528           214        742
01005                 34            18         52
01007                  5             8         13
01009                124            56        180

In [214]:
# aggregate svi data by county
svi2016_counties = svi2016.groupby('STCNTY').agg({'E_TOTPOP':'sum'})

In [224]:
# add nfirs data to svi data
nfirs_svi_counties = svi2016_counties.merge(nfirs_counties,how='left',left_index=True,right_index=True)

In [225]:
nfirs_svi_counties['fire_rate_per_capita'] = nfirs_svi_counties['tot_fires'] / nfirs_svi_counties['E_TOTPOP']
nfirs_svi_counties['severe_fire_rate_per_capita'] = nfirs_svi_counties['severe_fires'] / nfirs_svi_counties['E_TOTPOP']

In [226]:
nfirs_svi_counties.sort_values('fire_rate_per_capita',ascending=False).head()

,E_TOTPOP,non-severe_fires,severe_fires,tot_fires,fire_rate_per_capita,severe_fire_rate_per_capita
STCNTY,,,,,,
25025,767719.0,21353.0,4093.0,25446.0,0.033145,0.005331
29510,316030.0,8412.0,1490.0,9902.0,0.031332,0.004715
36005,1436785.0,32600.0,1007.0,33607.0,0.023390,0.000701
05069,72385.0,903.0,711.0,1614.0,0.022297,0.009822
28119,7634.0,87.0,77.0,164.0,0.021483,0.010086

In [227]:
nfirs_svi_counties = nfirs_svi_counties.merge(svi2016[['COUNTY','STATE','STCNTY']].drop_duplicates(subset='STCNTY'),how='left',left_index=True,right_on='STCNTY')

In [229]:
nfirs_svi_counties = nfirs_svi_counties.set_index('STCNTY')

In [232]:
nfirs_svi_counties.sort_values('fire_rate_per_capita',ascending=False).head()

,E_TOTPOP,non-severe_fires,severe_fires,tot_fires,fire_rate_per_capita,severe_fire_rate_per_capita,COUNTY,STATE
STCNTY,,,,,,,,
25025,767719.0,21353.0,4093.0,25446.0,0.033145,0.005331,Suffolk,MASSACHUSETTS
29510,316030.0,8412.0,1490.0,9902.0,0.031332,0.004715,St. Louis City,MISSOURI
36005,1436785.0,32600.0,1007.0,33607.0,0.023390,0.000701,Bronx,NEW YORK
05069,72385.0,903.0,711.0,1614.0,0.022297,0.009822,Jefferson,ARKANSAS
28119,7634.0,87.0,77.0,164.0,0.021483,0.010086,Quitman,MISSISSIPPI

In [233]:
nfirs_svi_counties.sort_values('severe_fire_rate_per_capita',ascending=False).head()

,E_TOTPOP,non-severe_fires,severe_fires,tot_fires,fire_rate_per_capita,severe_fire_rate_per_capita,COUNTY,STATE
STCNTY,,,,,,,,
05095,7542.0,66.0,87.0,153.0,0.020286,0.011535,Monroe,ARKANSAS
28119,7634.0,87.0,77.0,164.0,0.021483,0.010086,Quitman,MISSISSIPPI
05069,72385.0,903.0,711.0,1614.0,0.022297,0.009822,Jefferson,ARKANSAS
51730,31997.0,329.0,288.0,617.0,0.019283,0.009001,Petersburg City,VIRGINIA
05093,44199.0,489.0,389.0,878.0,0.019865,0.008801,Mississippi,ARKANSAS