# Combining geocodes using codes already gathered by DataKind

Combined the data from the 01_raw_data_exploration script with the geoid data already gathered by DataKind (because the US Census Geocoder API was going to take about 100 hours to provide the geocode information).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns',500)
sns.set()

In [19]:
geoid = pd.read_csv('../data/NFIRS_2009_2016_Combined_Census_Tract.csv',dtype=str)

In [22]:
geoid.head()

,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,FUNCSTAT,GEOID,MATCH,MATCHED_ADDRESS,MATCH_TYPE,MTFCC,NAME,NAMELSAD,ORIGINAL_ADDRESS,STATE,TIGER_LINE_ID,TIGER_LINE_SIDE,TRACTCE,X,Y,state_fips
0,rcp2_id1,AK,11100,211,JUNEAU,1700 ANGUS WAY,99801,NaN,NaN,NaN,1/3/2009 0:00:00,0.0,0.0,0,111,20000.0,5000.0,25000.0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,110.0,S,2110000500.0,Match,"1700 ANGUS WAY, JUNEAU, AK, 99801",Exact,G5020,5.0,Census Tract 5,"1700 ANGUS WAY, JUNEAU, AK, 99801",AK,190964136.0,R,500.0,-134.4244,58.306506999999996,2.0
1,rcp2_id2,AK,11100,470,JUNEAU,3221 PIONEER AVE,99801,NaN,NaN,NaN,1/6/2009 0:00:00,0.0,0.0,0,114,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,S,2110000600.0,Match,"3221 PIONEER AVE, JUNEAU, AK, 99801",Exact,G5020,6.0,Census Tract 6,"3221 PIONEER AVE, JUNEAU, AK, 99801",AK,190966361.0,R,600.0,-134.43313999999998,58.292685999999996,2.0
2,rcp2_id3,AK,11100,556,JUNEAU,10231 HERON WAY,99801,NaN,NaN,NaN,1/6/2009 0:00:00,0.0,0.0,0,111,20000.0,5000.0,25000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,110.0,S,2110000100.0,Match,"10231 HERON WAY, JUNEAU, AK, 99801",Exact,G5020,1.0,Census Tract 1,"10231 HERON WAY, JUNEAU, AK, 99801",AK,190962538.0,R,100.0,-134.6033,58.402609999999996,2.0
3,rcp2_id4,AK,11100,1315,JUNEAU,6590 GLACIER HWY,99801,NaN,NaN,NaN,1/13/2009 0:00:00,0.0,0.0,0,113,200.0,20.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,S,2110000400.0,Match,"6590 Glacier Hwy, JUNEAU, AK, 99801",Exact,G5020,4.0,Census Tract 4,"6590 GLACIER HWY, JUNEAU, AK, 99801",AK,190963741.0,R,400.0,-134.51932,58.358955,2.0
4,rcp2_id5,AK,11100,2151,JUNEAU,6590 GLACIER HWY,99801,NaN,NaN,NaN,1/21/2009 0:00:00,0.0,0.0,0,111,35000.0,5000.0,40000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,110.0,S,2110000400.0,Match,"6590 Glacier Hwy, JUNEAU, AK, 99801",Exact,G5020,4.0,Census Tract 4,"6590 GLACIER HWY, JUNEAU, AK, 99801",AK,190963741.0,R,400.0,-134.51932,58.358955,2.0

In [23]:
geoid2 = geoid[['ID','GEOID','MATCH','MATCH_TYPE','TIGER_LINE_ID','TIGER_LINE_SIDE','X','Y']]

In [24]:
geoid2.head()

,ID,GEOID,MATCH,MATCH_TYPE,TIGER_LINE_ID,TIGER_LINE_SIDE,X,Y
0,rcp2_id1,2110000500.0,Match,Exact,190964136.0,R,-134.4244,58.306506999999996
1,rcp2_id2,2110000600.0,Match,Exact,190966361.0,R,-134.43313999999998,58.292685999999996
2,rcp2_id3,2110000100.0,Match,Exact,190962538.0,R,-134.6033,58.402609999999996
3,rcp2_id4,2110000400.0,Match,Exact,190963741.0,R,-134.51932,58.358955
4,rcp2_id5,2110000400.0,Match,Exact,190963741.0,R,-134.51932,58.358955

In [25]:
nfirs = pd.read_csv('../data/02_interim/nfirs_cleaned.csv')

C:\Users\thwhi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3,7,17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
nfirs = pd.concat([nfirs,geoid2],axis=1)

In [35]:
cols_to_drop = ['Unnamed: 0','ID']
col_names = {'X':'lon','Y':'lat'}

nfirs = (nfirs.rename(columns=col_names)
         .drop(cols_to_drop,axis=1))

nfirs.columns = nfirs.columns.str.lower()

In [72]:
def fix_leading_zeros(string):
    if pd.notnull(string):
        string = string[:-2]
        if len(string) == 10:
            return '0' + string
        else:
            return string

In [73]:
nfirs['geoid'] = nfirs['geoid'].apply(fix_leading_zeros)

In [76]:
nfirs[['lon','lat']] = nfirs[['lon','lat']].astype(float)

In [74]:
nfirs.head()

,rcp2_id,state,fdid,inc_no,city,street,zip5,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,geoid,match,match_type,tiger_line_id,tiger_line_side,lon,lat
0,rcp2_id1,AK,11100,211,JUNEAU,1700 ANGUS WAY,99801,2009-01-03,0.0,0.0,0.0,111,20000.0,5000.0,25000.0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,02110000500,Match,Exact,190964136.0,R,-134.4244,58.306506999999996
1,rcp2_id2,AK,11100,470,JUNEAU,3221 PIONEER AVE,99801,2009-01-06,0.0,0.0,0.0,114,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02110000600,Match,Exact,190966361.0,R,-134.43313999999998,58.292685999999996
2,rcp2_id3,AK,11100,556,JUNEAU,10231 HERON WAY,99801,2009-01-06,0.0,0.0,0.0,111,20000.0,5000.0,25000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,02110000100,Match,Exact,190962538.0,R,-134.6033,58.402609999999996
3,rcp2_id4,AK,11100,1315,JUNEAU,6590 GLACIER HWY,99801,2009-01-13,0.0,0.0,0.0,113,200.0,20.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02110000400,Match,Exact,190963741.0,R,-134.51932,58.358955
4,rcp2_id5,AK,11100,2151,JUNEAU,6590 GLACIER HWY,99801,2009-01-21,0.0,0.0,0.0,111,35000.0,5000.0,40000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,02110000400,Match,Exact,190963741.0,R,-134.51932,58.358955

In [77]:
nfirs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1959106 entries, 0 to 1959105
Data columns (total 33 columns):
rcp2_id            object
state              object
fdid               object
inc_no             object
city               object
street             object
zip5               object
inc_date           object
oth_inj            float64
oth_death          float64
exp_no             float64
inc_type           int64
prop_loss          float64
cont_loss          float64
tot_loss           float64
detector           object
det_type           object
det_power          object
det_operat         object
det_effect         object
det_fail           object
aes_pres           object
aes_type           object
aes_oper           object
no_spr_op          float64
aes_fail           object
geoid              object
match              object
match_type         object
tiger_line_id      object
tiger_line_side    object
lon                float64
lat                float64
dtypes: float64(9), int64(1), object(23)
memory usage: 493.2+ MB

# Save NFIRS data with Geoids to csv

In [78]:
nfirs.to_csv('../data/02_interim/03_nfirs_geoids.csv',index=False)

In [88]:
nfirs.head()

,rcp2_id,state,fdid,inc_no,city,street,zip5,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,geoid,match,match_type,tiger_line_id,tiger_line_side,lon,lat
0,rcp2_id1,AK,11100,211,JUNEAU,1700 ANGUS WAY,99801,2009-01-03,0.0,0.0,0.0,111,20000.0,5000.0,25000.0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,02110000500,Match,Exact,190964136.0,R,-134.42440,58.306507
1,rcp2_id2,AK,11100,470,JUNEAU,3221 PIONEER AVE,99801,2009-01-06,0.0,0.0,0.0,114,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02110000600,Match,Exact,190966361.0,R,-134.43314,58.292686
2,rcp2_id3,AK,11100,556,JUNEAU,10231 HERON WAY,99801,2009-01-06,0.0,0.0,0.0,111,20000.0,5000.0,25000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,02110000100,Match,Exact,190962538.0,R,-134.60330,58.402610
3,rcp2_id4,AK,11100,1315,JUNEAU,6590 GLACIER HWY,99801,2009-01-13,0.0,0.0,0.0,113,200.0,20.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02110000400,Match,Exact,190963741.0,R,-134.51932,58.358955
4,rcp2_id5,AK,11100,2151,JUNEAU,6590 GLACIER HWY,99801,2009-01-21,0.0,0.0,0.0,111,35000.0,5000.0,40000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,02110000400,Match,Exact,190963741.0,R,-134.51932,58.358955

In [100]:
fatl_fires = nfirs[nfirs['oth_death'] > 0]

In [103]:
danger_fires = nfirs[(nfirs['oth_death'] > 0) | (nfirs['oth_inj'] > 0)]

In [104]:
danger_fires.shape

(50273, 33)

In [101]:
fatl_fires.shape

(9230, 33)

In [102]:
nfirs.shape

(1959106, 33)