In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns',500)
sns.set()

In [3]:
def top_value_counts(df, n=5, only_categories = True, cols_to_include = None):
    """ Function to generate summary information for string or categorical
    data in dataframes"""
    if cols_to_include:
        df = df[cols_to_include]
    if only_categories:
        df = df.select_dtypes(include=['O','category'])
    cols = df.columns
    df_value_counts = pd.DataFrame()
    i_name = -1
    for col in cols:
        i_name += 1
        counts = df[col].value_counts(dropna=False)[:n]
        top_n_names = list(counts.index)
        top_n = list(counts)
        if len(top_n) < n+1:
            for i in range(n-len(top_n)):
                top_n.append('-')
                top_n_names.append('-')
        top_n_names.insert(0,'n_unique')
        top_n.insert(0,df[col].nunique())
        df_value_counts[col] = top_n_names
        df_value_counts[i_name] = top_n
    return(df_value_counts)

In [4]:
nfirs = pd.read_csv('NFIRS_2009_2016_Combined_Census_Tract.csv',nrows=1000)

In [5]:
nfirs.head()

,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,FUNCSTAT,GEOID,MATCH,MATCHED_ADDRESS,MATCH_TYPE,MTFCC,NAME,NAMELSAD,ORIGINAL_ADDRESS,STATE,TIGER_LINE_ID,TIGER_LINE_SIDE,TRACTCE,X,Y,state_fips
0,rcp2_id1,AK,11100,211,JUNEAU,1700 ANGUS WAY,99801,NaN,NaN,NaN,1/3/2009 0:00:00,0.0,0.0,0,111,20000.0,5000.0,25000.0,1,1,1,2,1,NaN,N,NaN,NaN,NaN,NaN,110.0,S,2.110000e+09,Match,"1700 ANGUS WAY, JUNEAU, AK, 99801",Exact,G5020,5.0,Census Tract 5,"1700 ANGUS WAY, JUNEAU, AK, 99801",AK,190964136.0,R,500.0,-134.42440,58.306507,2.0
1,rcp2_id2,AK,11100,470,JUNEAU,3221 PIONEER AVE,99801,NaN,NaN,NaN,1/6/2009 0:00:00,0.0,0.0,0,114,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,S,2.110001e+09,Match,"3221 PIONEER AVE, JUNEAU, AK, 99801",Exact,G5020,6.0,Census Tract 6,"3221 PIONEER AVE, JUNEAU, AK, 99801",AK,190966361.0,R,600.0,-134.43314,58.292686,2.0
2,rcp2_id3,AK,11100,556,JUNEAU,10231 HERON WAY,99801,NaN,NaN,NaN,1/6/2009 0:00:00,0.0,0.0,0,111,20000.0,5000.0,25000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,110.0,S,2.110000e+09,Match,"10231 HERON WAY, JUNEAU, AK, 99801",Exact,G5020,1.0,Census Tract 1,"10231 HERON WAY, JUNEAU, AK, 99801",AK,190962538.0,R,100.0,-134.60330,58.402610,2.0
3,rcp2_id4,AK,11100,1315,JUNEAU,6590 GLACIER HWY,99801,NaN,NaN,NaN,1/13/2009 0:00:00,0.0,0.0,0,113,200.0,20.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,S,2.110000e+09,Match,"6590 Glacier Hwy, JUNEAU, AK, 99801",Exact,G5020,4.0,Census Tract 4,"6590 GLACIER HWY, JUNEAU, AK, 99801",AK,190963741.0,R,400.0,-134.51932,58.358955,2.0
4,rcp2_id5,AK,11100,2151,JUNEAU,6590 GLACIER HWY,99801,NaN,NaN,NaN,1/21/2009 0:00:00,0.0,0.0,0,111,35000.0,5000.0,40000.0,N,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,110.0,S,2.110000e+09,Match,"6590 Glacier Hwy, JUNEAU, AK, 99801",Exact,G5020,4.0,Census Tract 4,"6590 GLACIER HWY, JUNEAU, AK, 99801",AK,190963741.0,R,400.0,-134.51932,58.358955,2.0

In [6]:
nfirs['GEOID'][1]

2110000600.0

In [7]:
top_value_counts(nfirs)

,ID,0,state,1,inc_no,2,city,3,street,4,inc_date,5,detector,6,det_type,7,det_power,8,det_operat,9,det_effect,10,det_fail,11,aes_pres,12,aes_type,13,aes_oper,14,FUNCSTAT,15,MATCH,16,MATCHED_ADDRESS,17,MATCH_TYPE,18,MTFCC,19,NAMELSAD,20,ORIGINAL_ADDRESS,21,STATE,22,TIGER_LINE_SIDE,23
0,n_unique,1000,n_unique,2,n_unique,850,n_unique,113,n_unique,936,n_unique,340,n_unique,3,n_unique,4,n_unique,7,n_unique,4,n_unique,5,n_unique,7,n_unique,4,n_unique,4,n_unique,5,n_unique,1,n_unique,1,n_unique,779,n_unique,2,n_unique,1,n_unique,136,n_unique,784,n_unique,2,n_unique,2
1,rcp2_id625,1,AK,787,0000001,24,Anchorage,244,NaN,18,1/1/2009 0:00:00,10,NaN,367,NaN,692,NaN,692,NaN,692,NaN,830,NaN,956,N,592,NaN,978,NaN,978,S,827,Match,827,NaN,173,Exact,666,G5020,827,NaN,173,NaN,173,AK,644,L,419
2,rcp2_id838,1,AL,213,0000002,13,BIRMINGHAM,74,3240 Penland PKY,4,1/15/2009 0:00:00,9,1,308,1,248,1,130,2,170,1,125,U,13,NaN,367,1,16,1,10,NaN,173,NaN,173,"3240 PENLAND PKWY, ANCHORAGE, AK, 99508",4,NaN,173,NaN,173,Census Tract 2,71,"3240 Penland PKY, Anchorage, AK, 99508",4,AL,183,R,408
3,rcp2_id11,1,-,-,0000003,11,BESSEMER,61,908 Sargent Creek RD,3,1/2/2009 0:00:00,9,U,174,U,38,U,73,U,55,3,18,5,13,1,21,U,2,3,7,-,-,-,-,"908 SARGENT CREEK RD, KODIAK, AK, 99615",3,Non_Exact,161,-,-,Census Tract 3,38,"1116 Sloan AVE, Tarrant, AL, 35217",3,NaN,173,NaN,173
4,rcp2_id713,1,-,-,0000010,6,FAIRBANKS,52,210 E E DANNA AVE,3,1/7/2009 0:00:00,8,N,151,3,13,4,72,3,44,U,14,0,8,U,18,2,2,4,3,-,-,-,-,"1116 SLOAN AVE, TARRANT, AL, 35217",3,-,-,-,-,Census Tract 14,32,"210 E E DANNA AVE, Wasilla, AK, 99654",3,-,-,-,-
5,rcp2_id227,1,-,-,0000028,6,Fairbanks,47,1116 Sloan AVE,3,1/3/2009 0:00:00,8,-,-,5,9,2,20,1,39,4,7,6,7,2,2,3,2,U,1,-,-,-,-,"1045 HUFFMAN RD, BIRMINGHAM, AL, 35215",3,-,-,-,-,Census Tract 1,30,"908 Sargent Creek RD, Kodiak, AK, 99615",3,-,-,-,-

In [8]:
nfirs.describe(include='all')

,ID,state,fdid,inc_no,city,street,zip5,lat,lon,fips,inc_date,oth_inj,oth_death,exp_no,inc_type,prop_loss,cont_loss,tot_loss,detector,det_type,det_power,det_operat,det_effect,det_fail,aes_pres,aes_type,aes_oper,no_spr_op,aes_fail,COUNTYFP,FUNCSTAT,GEOID,MATCH,MATCHED_ADDRESS,MATCH_TYPE,MTFCC,NAME,NAMELSAD,ORIGINAL_ADDRESS,STATE,TIGER_LINE_ID,TIGER_LINE_SIDE,TRACTCE,X,Y,state_fips
count,1000,1000,1000.000000,1000,1000,982,1000.000000,0.0,0.0,0.0,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,633,308,308,308,170,44,633,22,22,23.000000,4.0,827.000000,827,8.270000e+02,827,827,827,827,827.000000,827,827,827,8.270000e+02,827,827.000000,827.000000,827.000000,827.000000
unique,1000,2,NaN,850,113,936,NaN,NaN,NaN,NaN,340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,7,4,5,7,4,4,5,NaN,NaN,NaN,1,NaN,1,779,2,1,NaN,136,784,2,NaN,2,NaN,NaN,NaN,NaN
top,rcp2_id625,AK,NaN,0000001,Anchorage,3240 Penland PKY,NaN,NaN,NaN,NaN,1/1/2009 0:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2,1,U,N,1,1,NaN,NaN,NaN,S,NaN,Match,"3240 PENLAND PKWY, ANCHORAGE, AK, 99508",Exact,G5020,NaN,Census Tract 2,"3240 Penland PKY, Anchorage, AK, 99508",AK,NaN,L,NaN,NaN,NaN,NaN
freq,1,787,NaN,24,244,4,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308,248,130,170,125,13,592,16,10,NaN,NaN,NaN,827,NaN,827,4,666,827,NaN,71,4,644,NaN,419,NaN,NaN,NaN,NaN
mean,NaN,NaN,19773.462000,NaN,NaN,NaN,85801.364000,NaN,NaN,NaN,NaN,0.038000,0.021000,0.015000,112.487000,21085.314000,5986.445000,2.707176e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.521739,4.0,83.591294,NaN,1.862312e+09,NaN,NaN,NaN,NaN,28.164220,NaN,NaN,NaN,2.559860e+08,NaN,2816.422007,-134.812652,55.351311,1.778718
std,NaN,NaN,11334.873089,NaN,NaN,NaN,26551.871458,NaN,NaN,NaN,NaN,0.276826,0.185994,0.150989,2.348904,67564.024166,20762.172504,8.462096e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730477,2.0,56.190935,NaN,4.245829e+08,NaN,NaN,NaN,NaN,40.955216,NaN,NaN,NaN,1.882879e+08,NaN,4095.521594,26.089022,11.877989,0.415361
min,NaN,NaN,101.000000,NaN,NaN,NaN,99.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,111.000000,0.000000,0.000000,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0,16.000000,NaN,1.073000e+09,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,8.154762e+07,NaN,100.000000,-166.781080,33.332603,1.000000
25%,NaN,NaN,13000.000000,NaN,NaN,NaN,99502.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,111.000000,0.000000,0.000000,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,4.0,20.000000,NaN,2.020001e+09,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,1.907970e+08,NaN,500.000000,-149.862955,55.475174,2.000000
50%,NaN,NaN,23100.000000,NaN,NaN,NaN,99577.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,111.000000,0.000000,0.000000,2.750000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,5.0,73.000000,NaN,2.020003e+09,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,1.908993e+08,NaN,1200.000000,-149.340060,61.157630,2.000000
75%,NaN,NaN,26320.000000,NaN,NaN,NaN,99701.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,113.000000,5011.750000,1000.000000,1.000000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,5.0,122.000000,NaN,2.122000e+09,NaN,NaN,NaN,NaN,27.020000,NaN,NaN,NaN,1.913018e+08,NaN,2702.000000,-133.095315,61.569609,2.000000
max,NaN,NaN,39100.000000,NaN,NaN,NaN,99950.000000,NaN,NaN,NaN,NaN,5.000000,4.000000,2.000000,122.000000,900000.000000,300000.000000,1.200000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,5.0,275.000000,NaN,2.275000e+09,NaN,NaN,NaN,NaN,401.050000,NaN,NaN,NaN,6.461386e+08,NaN,40105.000000,-86.514650,71.301865,2.000000